
$viewport: 1240;
@function vw($num, $width: $viewport) {
    @return (1vw * $num / $width * 100);
}

body {
    color: #222;
    margin: 0;
    padding: 0;
}
.bgGradation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 35% 35%, #FAFFBE 0, #FAFFBE 7%, transparent 30%),
                radial-gradient(circle at 60% 40%, #A3FFF5 0, #A3FFF5 5%, transparent 40%),
                radial-gradient(circle  at 60% 50%, #BBADFF 0, #BBADFF 30%, transparent 50%),
                radial-gradient(circle  at 40% 60%, #FF78B2 0, #FF78B2 20%, transparent 40%);
    transform: scale(1.3);

    overflow: hidden;
    .mask{
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at center, #fff 0, #fff 10%, #fff 100%);

        // animation-name: fadeOutMask;
        // animation-duration: 3s;
        // animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        // animation-delay: 0.5s;
        // animation-direction: normal;
    }
}
@keyframes fadeOutMask{
    0% {
        background: radial-gradient(circle at center, transparent 0, #fff 1%, #fff 100%);
    }
  
    100% {
        background: radial-gradient(circle at center, transparent 30%, #fff 100%, #fff 100%);
    }
  }

main {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: .3em 0;
}

h1{
    font-weight: 900;
}

p {
    font-weight: normal;
}

header{
    margin-top: vw(30);
}
.text {
    &-subhead {
        font-size: vw(28);
        letter-spacing: 0;
        line-height: 1.2;
    }

    &-outline {
        font-size: vw(62);
        letter-spacing: 0;
        color: transparent;
        line-height: 1.2;
        color: #fff; //e4ddb3
        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
    }
    &-guide{
        font-size: vw(18);
    }
    &-dropguide{
        color: #a6a6a6;
        font-size: vw(30);
        opacity: 0.3;
    }
}

.container {
    position: relative;
    z-index: 1;
}

.quizBox {
    margin-top: vw(50);

    .dropBox {
        background: rgba(255, 255, 255, .7);
        padding: vw(30);
        align-items: center;
        max-height: 50vh;
        height: 40vw;
        transition: opacity .3s;

        h1{
            font-size: vw(36);
        }
    }

    .answerBtnWrap{
        // display: flex;
        // justify-content: space-evenly;
        
        .answerBtn-draggable-0{
            position: absolute;
            transform: translateY(-50%);
            left: vw(200);
        }
        .answerBtn-draggable-1{
            position: absolute;
            transform: translateY(-50%);
            right: vw(200);
        }
        
    }
    .answerBtn {
        font-size: vw(40);
        color: #fcfcfc;
        padding: vw(20) vw(30);
        border-radius: 500px;
        border: 0;
        width: vw(240);
        height: vw(240);
        cursor: grab;
        position: relative;
        &.answerBtn-draggable-0{
            background: #A5EBDC;
        }
        &.answerBtn-draggable-1{
            background: #BDB5E4;
        }

        * {
            position: relative;
            z-index: 1;
        }

        &::before {
            z-index: 0;
            content: '';
            display: block;
            top: -1px;
            right: -1px;
            left: -1px;
            bottom: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            border-radius: 50%;
            border: 5px solid transparent;
            box-sizing: border-box;
            background: transparent;
            position: absolute;
            transform: scale(1);
            transition: transform .5s, opacity .6s;
            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            opacity: 1;
        }

        &:hover::before {
            transform: scale(1.15);
            opacity: 0;
            border-color: #8fcfc1;
        }
    }
}